@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-gray-100;
}

@theme {
  --font-primary: 'regular',
  --font-medium: 'medium',
  --font-semibold: 'semibold',
  --font-bold: 'bold',
}

@theme {
  --color-primary: #2C0735;
  --color-secondary: #613DC1;
}

@font-face {
  font-family: "regular";
  src: local("Inter-Regular"),
  url('./assets/fonts/Inter-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "medium";
  src: local("Inter-Medium"),
  url('./assets/fonts/Inter-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "semibold";
  src: local("Inter-SemiBold"),
  url('./assets/fonts/Inter-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "bold";
  src: local("Inter-Bold"),
  url('./assets/fonts/Inter-Bold.ttf') format("truetype");
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}